#################
# emacs backups #
#################
*~
*#

###########
# private #
###########
.*
# maildata-home.nix

###############
# nix-results #
###############
result

#########
# latex #
#########
ltximg
