@import "theme_green.scss";
// @import "theme_catppuccin.scss";

@import "parameters.scss";

.date {
    background-color: $date;
    color: $text;

    padding-left: $paddl;
    padding-right: $paddr;

    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;

    margin-right: $marginr;

    font-size: $normal_font;
}

.date_icon {
    font-size: $dateicon_size;
    margin-left: $paddl;
    margin-right: $dateicon_margin_right;
}

// configuration when date is an event box with a calendar
// @import "theme_green.scss";
// // @import "theme_catppuccin.scss";

// @import "parameters.scss";

// .date {
//     background-color: $date;
//     color: $text;

//     padding-left: $paddl;
//     padding-right: $paddr;

//     border-top-left-radius: $radius;
//     border-bottom-left-radius: $radius;

//     margin-right: $marginr;

//     font-size: $normal_font;
// }

// .date_icon {
//     font-size: 16px;
// }
