// WORKSPACES
$padding_workspaces: 8px;
$ws-top-margin: -3px;
$padding_down_ws: 3px;

// RIGHTMOST ELEMENT
// $margin_most: -1px;
$end-bar-margin: -7px;

// GENERAL
$paddl: 10px;
$paddr: 19px;

$radius: 10px;
$marginr: -20px;

$normal_font: 14px;
$ws_font: 21px;

// DATE
$dateicon_font: 16px;

// CALENDAR
$cal_pad: 10px;
$cal_font: 20px;


// SPEAKER ICON
$margin_top_speaker_icon: 1px;
$margin_left_speaker_icon: 0px;
$size_speaker_icon: 12px;

// BATTERY
$padding_left_battery: 5px;

// KEYBOARD
$keyboard_icon_size: 12px;
$keyboard_icon_margin_left: 20px;
$keyboard_icon_margin_right: 15px;
$keyboard_margin_left: -10px;;

// MODE
$mode_margin_left: -14px;
