// COLOURS
$main: #24273a;
$text: #1e2030;

$workspaces: #c6a0f6;

$brightness: #ed8796;
$date: #f5a97f;
$battery: #a6da95;
$speaker: #8bd5ca;
$wifi: #7dc4e4;
$edge: #8aadf4;

$progress_filled: #179299;
$progress_unfilled: #f5a97f;
