// COLOURS
// $main: #24273a;
$main: #1F1F1F; // polybar
$text: #CDFFFD; // this color is called 'crystal'
// $text: #FFFFFF; // polybar

$workspaces: #c6a0f6;

$brightness: #26A69A;
$date: #009688;
$battery: #00897B;
$speaker: #00796B;
$wifi: #00695C;
$edge: #004D40;

$progress_filled: #c6a0f6;
$progress_unfilled: #004D40;

$calendar: rgba(10, 95, 100, .4);
