@import "theme_green.scss";
// @import "theme_catppuccin.scss";

@import "parameters.scss";

.wifi_icon {
    font-size: $font_size_wifi_icon;
    margin-left: $margin_left_wifi_icon;
    margin-right: $margin_right_wifi_icon;
}

.wifi {
    background-color: $wifi;
    color: $text;
    
    padding-left: $paddl;
    padding-right: $paddr;

    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;

    margin-right: $marginr;

    font-size: $normal_font;
}
